.vscode
.idea
*/.*
Lab_5/1/build/*
Lab_5/2/build/*
Lab_5/3/build/*
Lab_5/4/build/*
Lab_5/5/build/*
Lab_5/6/build/*
Lab_5/7/build/*
Lab_5/8/build/*
Lab_5/9/build/*
Lab_5/10/build/*
Lab_5/11/build/*
Lab_5/12/build/*
Lab_5/13/build/*
Lab_5/14/build/*
Lab_5/15/build/*
Lab_5/16/build/*
Lab_5/17/build/*
Lab_5/18/build/*
Lab_5/19/build/*
Lab_5/20/build/*
Lab_5/21/build/*
Lab_5/22/build/*